
<div class="jumbotron text-center">
      <h1 class="display-4">About Us</h1>
      <p class="lead">TWe are passionate about making all plant types available for purchase at all seasons, all year round.</p>
    </div>

